body{
    background-color: white;
}
.sliderBg{
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 60vh;
    border-radius: 3rem;
}
