@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
}
section{
    height: 70%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 100%;
    margin-top: 5rem;
}
.heroText{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}
h1{
    font-weight: 700;
    font-size: 17vw;
    background-image: url("../../assets/titleBg.png");
    background-size: cover;
    background-position: bottom;
    color:transparent;
    background-clip:text;
    margin: 0;
    padding: 1.2rem;
    line-height: 0.6;
}
h2{
    padding-left: 2.2rem;
    font-weight: 700;
    font-size: 3vw;
    text-transform: uppercase;
}
span{
    color: #73FF00;
}
.buttons{
    width: 30vw;
    padding: 2rem;
    border-radius: 3rem;
    display: flex;
    flex-direction: row;
    gap: 2vw;
}
.greenButton{
    background-color: #73FF00;
    width: 15vw;
    padding: 1rem;
    border-radius: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
img{
    width: 1.7rem;
}
.whiteButton{
    border: 1px solid black;
    width: 15vw;
    padding: 1rem;
    border-radius: 3rem;
    text-align: center;
}





























